<p id="notice"><%= notice %></p>

<h1>Enrolls</h1>

<table id="enrolls-table" class="display responsive no-wrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>DNI</th>
      <th>Legajo</th>
      <th>Enrolled</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name + ' ' + student.last_name %></td>
        <td><%= student.dni %></td>
        <td><%= student.legajo %></td>
        <% if student.id.nil? %>
          <td>
            <%= form_tag("/courses/#{@course}/enrolls", method: "post") do %>
              <%= hidden_field_tag(:student_id, student.dni) %>
              <%= hidden_field_tag(:course_id, @course) %>
              <%= submit_tag("Enroll") %>
            <% end %>
          </td>
        <% else %>
          <td><%= link_to 'Disenroll', "/courses/#{@course}/enrolls/#{student.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', course_path(@course) %>