<h1>Courses</h1>

<table id="courses-table" class="display responsive no-wrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Year</th>
      <th>Students</th>
      <th>Tests</th>
      <th>Show State</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.year %></td>
        <td><%= link_to 'Show Students', course_enrolls_path(course) %><%= fa_icon "users" , class: "table-icon"%></span></td>
        <td><%= link_to 'Show Tests', course_tests_path(course) %><%= fa_icon "file-text-o" , class: "table-icon"%></td>
        <td><%= link_to 'Show State', course %><%= fa_icon "list" , class: "table-icon"%></td>
        <td><%= link_to 'Edit', edit_course_path(course) %><%= fa_icon "pencil" , class: "table-icon"%></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %><%= fa_icon "trash" , class: "table-icon"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path, class: "btn" %>
