
<h1>Tests</h1>

<table id="enrolls-table" class="display responsive no-wrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Minimal Aprobal Score</th>
      <th>Highest Score</th>
      <th>Scores</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= test.date.strftime("%d/%m/%Y") %></td>
        <td><%= test.min_score %></td>
        <td><%= test.max_score %></td>
        <td><%= link_to 'Scores', course_test_scores_path(@course, test) %><%= fa_icon "star" , class: "table-icon"%></td>
        <td><%= link_to 'Edit', edit_course_test_path(@course, test) %><%= fa_icon "pencil" , class: "table-icon"%></td>
        <td><%= link_to 'Destroy', [@course, test], method: :delete, data: { confirm: 'Are you sure?' } %><%= fa_icon "trash" , class: "table-icon"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test', new_course_test_path(@course), class: "btn" %>
<%= link_to 'Back', courses_path, class: "btn" %>